@page
@model uwierzytelnianie.Pages.RecentlyPeopleModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href="/People/SearchPage" class="Button">Wyszukaj w bazie danych</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person.IsLeap)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.People) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLeap)
            </td>
        </tr>
}
    </tbody>
</table>
