@page
@model uwierzytelnianie.Pages.RecentlyPeopleModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a href="/People/SearchPage" class="Button">Wyszukaj w bazie danych</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonVM.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonVM.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonVM.JoinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonVM.Year)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ppl.People) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
        </tr>
}
    </tbody>
</table>
