@page
@model uwierzytelnianie.Pages.People.SearchPageModel
@{
    ViewData["Title"] = "SearchPage";
}

<form method="get">
    <div class="input-group">
        <label asp-for="NameTerm">Imie</label>
        <input class="form_control" asp-for="NameTerm" /> <br/>
        <label asp-for="SurnameTerm">Nazwisko</label>
         <input class="form_control" asp-for="SurnameTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Szukaj</button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonVM.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonVM.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonVM.JoinDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonVM.Year)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ppl.People) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>