@page
@model SavedInSessionModel
@{
    ViewData["Title"] = "Data in session";
}
<p>Dane w zapisane w sesji</p>
@if (@Model.userDataList != null)
{
    @foreach(var i in @Model.userDataList)
        {
            @if (@i.IsLeapYear())
            {
                <h6>@i.Name, @i.Surname, @i.Year - rok przestepny<br/></h6>
            }
            else{
                <h6>@i.Name, @i.Surname, @i.Year - rok nie przestepny<br/></h6>
            }
        }
}